body {
    padding: 10px;
    max-width: 70%;
    margin: auto;
    
}

label {
    min-width: 10em;
}

input {
    min-width: 20em;
}

.secondary-hr {
    width: 85%;
}

.listing-row {
    display: flex;
    gap: 10em;
}