{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

    <div style="position: relative;">
        <label>Choose a category to filter by: </label>
        <form action="{% url 'categories' %}" method="get">       
            <select name="filter" onchange="this.form.submit()">
                <option selected disabled>-----------</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <hr>
    <div>
        {% for listing in listings %}
            {% include "auctions/listing_row_template.html" %}
        {% empty %}
            <p>There are no listings in this category.</p>
    
        {% endfor %}

    </div>


{% endblock %}