{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

    <div class="grid-2">
        <label>Choose a category to filter by: </label>
        <form action="{% url 'categories' %}" method="get">       
            <select name="filter" onchange="this.form.submit()">
                <option {% if not selected %} selected {% endif %} disabled>Choose a category</option>
                {% for category in categories %}
                    {% if category.id == selected %}
                        <option value="{{ category.id }}" selected>{{ category }}</option>
                    {% else %}
                        <option value="{{ category.id }}">{{ category }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>
    <hr>
    <div>
        {% for listing in listings %}
            {% include "auctions/listing_row_template.html" %}
        {% empty %}
            <p>There are no listings in this category.</p>
        {% endfor %}
    </div>
{% endblock %}