{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Close Listing?</h2>

    <hr>
    {% include "auctions/listing_row_template.html" %}

    <div class="auction-close-confirmation">
        <p>Are you sure you want to close this auction early?</p>

        <form action="" method="post" id="close">  
            {% csrf_token %} 
            <!-- <button type="submit" name="cancel">Cancel</button>    
            <button type="submit" name="close" >Close</button> -->
            <input type="submit", value="No, don't close the listing!"> &emsp;
            <input type="submit", name="close"value="Yes, close the listing now!">
        </form>
    </div>
    
{% endblock %}