{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        
        {{ form.as_div }}
        <!-- <label>Title: <input type="text" name="title" placeholder="Title"><br> -->
        <!-- <label>Condition: <input type="text" name="condition" placeholder="Condition"><br> -->
        <!-- <label>Category:  -->
            <!-- <select name="categorie"> -->
                <!-- <option value="" selected disabled hidden> - </option> -->
                <!-- {% for category in categories %} -->
                    <!-- <option value="{{ category.id }}"> {{ category }}</option> -->
                <!-- {% endfor %} -->
             <!-- </select><br> -->
        <!-- <label>Photo: <input type="text" name="" placeholder="Condition"><br> -->
            <!-- <label>Photo: <input type="text" name="photo" placeholder="Photo"><br> -->
        <!-- <label>Description: <input type="text" name="description" placeholder="Description"><br> -->
        <!-- <label>Starting Bid: <input type="text" name="bid" placeholder="Price"><br> -->
        
        <input type="submit", value="List">



    </form>


{% endblock %}