{% extends "auctions/layout.html" %}
{% load listingtags %}

{% block body %}
    <h2>Active Listings</h2>
    <hr>
    {% for listing in listings %}
        <a href="{% url 'listing' listing.id %}">
            <div class="listing-row">
                <div class="listing-row-img">
                    {% if listing.image %}
                        <img src="{{ listing.image }}" width="200" height="200">
                    {% else %}
                        <svg width="200" height="200">       
                            <image xlink:href="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" width="200" height="200"/>    
                        </svg>
                    {% endif %}
                </div>
                <div class="listing-row-details">
                    <H4>{{ listing.title }}</H4>
                    <div class="listing-row-description">
                        Price: ${{ listing|current_price }}<br>
                        {{ listing.description }} <br>
                    </div>
                    <div class="listing-row-auction-details">
                        {{ listing|bid_count }}               <br>
                        {{ listing|timeremaining }}<br>
                        Sold by: {{ listing.seller }} <br>
                    </div>
                </div>
            </div>
        </a>
        <hr>
    {% empty %}
        Currently there are no active listings.
    {% endfor %}
    

{% endblock %}