{% extends "auctions/layout.html" %}

{% block body %}
    
    <div>
        <div class="listing-row">
            <div>
                IMG
            </div>
            <div>
                <h2>{{listing.title}}</h2>
                <hr>
                Condition : {{ listing.condition }} <br>
                Time left : Enter Time left | {{  listing.end_dateTime }}
                <hr>
                {% if bids %}
                    Current bid: {{ required_bid }}   [{{ bids.count }}]<br>

                {% else %}
                    Starting Bid: {{ required_bid }} <br>

                {% endif %}

                <form action="{% url 'bid' %}" method="post">
                    {% csrf_token %}
                    
                    {{ bid_form }}
                  
                    <input type="submit", value="Place bid">
            
                </form>
                <hr>
                
                <form action="{% url 'watchlist' %}" method="get">       
                    <select name="watch_listing" onchange="this.form.submit()">
                        {% if watched %}
                            <option>Listing is in watchlist</option>
                            <option value="remove {{ listing.id }}">Remove from watchlist</option>
                        {% else %}
                            <option>Add to watchlist?</option>
                            <option value="add {{ listing.id }}">Add to watchlist</option>
                        {% endif %}
                    </select>
                </form>
                
            </div>
        </div>
        <hr>
        <div>
            <H3>Description</H3> <br>
            {{ listing.description }}
        </div>
        <hr>
        <div>
            <H3>Comments</H3>
            {% for comment in comments %}
                {{comment.comment_text}} <br>
                asked on {{ comment.comment_dateTime }}
                <hr>
            {% empty %}
                 Currently there are no comments. <br>
            {% endfor %}
            Have a question of your own? <br>
            <form action="{% url 'comment' %}" method="post">
                {% csrf_token %}
                
                {{ comment_form }}
              
                <input type="submit", value="Submit question">
        
            </form>
        </div>



    </div>
{% endblock %}