{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <hr>
    {% for item in watchlist %}
        <a href="{% url 'listing' item.listing.id %}">
            <div class="listing-row">
                <div>
                    {% if listing.image %}
                        image
                    {% else %}
                        <svg width="200" height="200">       
                            <image xlink:href="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" width="200" height="200"/>    
                        </svg>
                    {% endif %}
                </div>
                <div>
                    {{ item.listing.title }} <br>
                    {{ item.listing.description }} <br>
                    {{ item.listing.seller }} <br>
                    {{ item.listing.end_dateTime }}
                </div>
            </div>
        </a>
        <hr>
    {% empty  %}
        You currently are not watching any listings.
    {% endfor %}
   

{% endblock %}